@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Other required styles */
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.page-container {
    width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    transform-origin: top left;
    background-color: #f9f9f9; /* Updated background color */
}


body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9; /* Updated background color */
  color: #4a4a4a; /* Updated text color */
}